.about{
display: flex;
min-height: 100%;
overflow: hidden;
flex-direction: column;
}
.wrapper{
max-width: 1690px;
margin: 0px auto;
}
.about_top{
font-family: "Arial-Black",sans-serif;
font-size: 32px;
font-weight: 900;
margin: 40px;
padding: 0;
}
.about_info{
	display: flex;
	margin: 0 20px;
}
.about_img_text{
position: relative;
padding-bottom: 10px;
margin: 10px;
border-radius: 10px;
box-shadow: 0px 0px 5px 0px #0000005C;
}
.info_more {
display: flex;
flex-direction: row;
margin-left: 32px;
font-family: myriad-pro, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
color:#006837 ;
text-decoration: none;
min-width: 0;
}
.about_img{
width: 100%;
margin-bottom: 20px;
}
.text_h4{
min-width: 0;
margin: 20px 0;
cursor: default;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow-y: hidden;
}
.text_h4_news{
min-width: 0;
margin: 20px 0;
cursor: default;
}
.text_info{
cursor: default;
font-family: myriad-pro, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
color:#B3B3B3;
margin: 0 20px 30px 0;
display: -webkit-box;
-webkit-line-clamp: 7;
-webkit-box-orient: vertical;
overflow-y: hidden;
}
.text_info_news{
cursor: default;
font-family: myriad-pro, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
color:#B3B3B3;
margin: 0 20px 30px 0;
}
.a_more{
font-family: myriad-pro, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
color:#006837 ;
position: absolute;
right: 20px;
bottom: 16px;
text-decoration: none;
}

.slider_destination_blok{
position: relative;
margin: 20px 25px;

}
.img_blok{
	object-fit: none;
	margin: 0;
	width: 100%;
	border-radius: 10px;
box-shadow: 0px 0px 5px 0px #0000005C;
}
.slider_destination_blok .text_destination{
	position: absolute;
	margin: 10px;
	bottom: 28px;
	cursor: default;
font-family: myriad-pro, sans-serif;
color:#FFFFFF;
}
.h_destination{
min-width: 0;
margin: 10px 10px 30px 0;
cursor: default;
font-size: 28px;
}
.p_destination{
font-size: 12px;
margin: 20px 10px 25px 0;
}
.info_d{
 list-style-type: none;
}
.info_d a{
 margin: 0px 20px 0px 0px;
}
.box_book{
	display: flex;
	flex-flow: row nowrap;
	background: url(../image/19702230_1960035380940109_890250206309138887_n.png) 0% 0% no-repeat ;
	background-color: #006837;
	margin: 20px;
	padding: 0px;
align-items: center;
border-radius: 9px ;
box-shadow: 0px 0px 5px 0px #0000005C;
}
.book_title{
font-family: "Arial-Black",sans-serif;
font-size: 48px;
font-weight: 900;
color: white;
text-align-last: left;
cursor: default;
}
.text_book.text_info{
	font-family: myriad-pro, sans-serif;
	color: white;
	font-size: 12px;
}
.text_book .text_info_news{
	color: white;
}
.content_img{
margin: 0px 50% 0px 0px;
}
.content_book{
margin: 5% 5%;
}
.button_here button{
	font-family: "Arial,Regular",sans-serif;
	font-size: 21px;
	padding: 10px 50px;
	color: #006837;
	background-color: white;
	border: none;
	border-radius: 50px ;
	cursor: pointer;
}
.button_here button:hover{
	background-color: #002916;
}
/*2 page*/
.row_content{
	background-color:#006837 ;
}
.box_book_activity{
	display: flex;
	flex-flow: row nowrap;
	background: url(../image/19702230_1960035380940109_890250206309138887_n.png) 0% 0% no-repeat ;
	background-color: #006837;
	margin: 0px;
	padding: 0px;
align-items: center;
border-radius: 9px ;
box-shadow: 0px 0px 5px 0px #0000005C;
}
.history-content{
	margin:40px 40px ;

}
.text_history{
cursor: pointer;
font-family: myriad-pro, sans-serif;
font-weight: 400;
font-size: 19px;
color:#006837;
margin: 0 20px 30px 0;
text-decoration: none;
}
.text_history_h{
cursor: default;
font-family: myriad-pro, sans-serif;
font-style: normal;
font-size: 57px;
color:black;

}
.text_history_info{
cursor: default;
font-family: myriad-pro, sans-serif;
font-size: 18px;
color:#B3B3B3;
}
.map{
	display: flex;
	justify-content: center;
	width: 100%;
}

.contacts{
max-width: 1200px;
margin: 0 auto;

}
.info-data{
top: -200px;
margin: 0;
padding: 0;
max-width: 1200px;
position: relative;
display: flex;
justify-content: center;
}
.box-data{
	margin: 40px;
width: 350px;
height: 350px;
position: relative;
background-color: white;
box-shadow: 0px 2px 48px 0px #0000000F;
cursor: default;
}
.data-content{
position: relative;
}
.data-content p {
	display: flex;
position: absolute;
font-family: 'Nunito', sans-serif;
text-align: center;
font-size: 14px;
color: #77838F;
margin: 20px;
left: 0; 
right: 0; 
margin-left: auto; 
margin-right: auto; 
justify-content: center;
top: 220px;
}
.data-content b{
	display: flex;
position: absolute;
font-family: 'Nunito', sans-serif;
text-align: center;
font-size: 21px;
margin: 20px;
left: 0; 
right: 0; 
margin-left: auto; 
margin-right: auto; 
justify-content: center;
top: 170px;
}
.data-content .data-img{
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 34px;
left: 0; 
right: 0; 
margin-left: auto; 
margin-right: auto; 
width: 100px;
height: 100px;
color: #006837;
box-shadow: 0px 2px 48px 0px #0000000F;
}
.data-content .data-img span {
font-size: 23px;
}
.button_mesg{
	font-family: Arial-Black, sans-serif;
font-size: 16px;
display: flex;
justify-content: center;
text-decoration: none;
}
.button_mesg button{
padding: 10px 30px;
margin: -50px 0 50px 0;
transition: all 0.3s ease 0s;
text-align: center;
color: white;
border: none;
border-radius: 20px;
background-color: #006837;
cursor: pointer;
}
.about_you{
font-family: 'Nunito', sans-serif;
text-align: center;
font-size: 21px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: default;
}
.about_you p{
	font-size: 17px;
	color: #77838F;
}
.comment{
font-family: 'Nunito', sans-serif;
font-size: 17px;
margin: 45px 0 15px 0;
}

.container .btn{
	display: flex;
	margin: 90px auto;
padding: 20px 60px;
	background-color: #006837;
	border-radius: 5px;
	border: none;
}
.col-md-6 .form-control{
height: 70px;
    box-sizing: border-box;
resize: none;
}
.form-controls textarea {
width: 100%;
height: 300px;
box-sizing: border-box;
}
.email_know{
	font-family: 'Nunito', sans-serif;
	background-color: #7A7A7A;
	color: white;
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 170px;
	margin: 0px 0px 150px 0px;
}

.form_email{
height: 70px;
width: 400px;
font-family: 'Nunito', sans-serif;
box-sizing: border-box;
border: none;
border-radius: 4px;
font-size: 16px;
background-position: 10px 10px; 
padding: 23px 80px 23px 25px;
}
.email_know form{
position: relative;
}
.btn_email{
position: absolute;
border: none;
border-radius: 5px;
width: 54px;
height: 54px;
color: white;
background-color: #006837;
right: 8px;
top: 8px;
}

@media (max-width: 1650px){
	.wrapper{
max-width: 100%;
margin: 0px auto;
	}
}
@media (max-width: 1500px){
	.box_book{
	background: url(../image/19702230_1960035380940109_890250206309138887_n.png) left 50% / 50% 100% no-repeat;
		background-color: #006837;
}
}
@media (max-width: 1280px){
	.about_info{
		flex-direction: column;
	}
}
@media (max-width: 1048px){
	.info_d a{
		margin: 0px 2px 0px 0px;
	}
	.nav_links{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	transform: scale(1.5);
}
.nav_links li {
	margin: 5px;
}
.logo_src_a span{
	margin-left: 50px;
	font-size: 50px;
}
.header button{
	transform: scale(1.5);
		margin-left: 50px;
}
}