/* Слайдер */
.slick-slider{}
/* Слайдер запущений */
.slick-slider.slick-initialized{}
/* Слайдер з точками */
.slick-slider.slick-dotted{}
/* Оболочка */
.slick-list {
	overflow: hidden;
}
/* Лєнта слайдів */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показується) */
.slick-slide.slick-active{}
/* Слайд основний */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонованний слайд */
.slick-slide.slick-cloned{}
/* Стрілка */
.slick-arrow{}
/* Стрілка вліво */
.slick-arrow.slick-prev{}
/* Стрілка вправо */
.slick-arrow.slick-next{}
/* Стрілка не активна */
.slick-arrow.slick-disabled{}
/* Точки (булети) */
.slick-dots{}
.slick-dots li{}
/* Активна точка */
.slick-dots li.slick-active{}
/* Елемент точки */
.slick-dots li button{}

