@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Nunito&display=swap');

*{
	box-sizing: border-box;
}

body{
	font-family: Arial-Black, sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 50px;
	z-index: 3
}
.header li,.header a , .header button {
	font-family: "Arial,Regular",sans-serif;
	font-size: 16px;
	color: white;
	text-decoration: none;

}
.logo{
	cursor: pointer;
}
.icon-search{
	margin-left: auto;
	margin-right: 50px;
	cursor: pointer;
	color: #006837;
}
.logo_src_a span{
font-size: 23px;
}

.open{
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav_links{
	padding:0;
	margin: 20px;

}
.nav_links a {
	color: #006837;
	padding: 10px;
	margin: 5px;
}
.nav_links li {
	display: inline-block;
}
.nav_links li a:hover {
	color: #002916;

}

.header button{
	padding: 9px 25px;
	background-color: #006837;
	border: none;
	border-radius: 50px ;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	text-align: center;
}
.header button:hover{
	background-color: #002916;
	transform: scale(1.2);
}

.footer {
	margin: 50px 0 0 0;
padding:100px;
background-color: #006837;
width: 100%;
height: 300px;
text-align: center;
}
.nav_links_footer{
	list-style: none;
	padding:0;
	margin: 0;
}
.nav_links_footer a {
	color: white;
	padding: 10px;
		text-decoration: none;

}
.nav_links_footer li {
	text-decoration: none;
	display: inline-block;

}

.nav_links_footer li a:hover {
	color: #002916;

}
.logo_src_a:hover  a{
	transform: scale(1.4);
}
.custom-slider{}
.custom-slider-item{
	text-align: center;
}
.long_slider_slide{
min-width: 0;
position: relative;
padding-bottom: 10px;
margin: 25px 25px;
border-radius: 10px;
box-shadow: 0px 0px 5px 0px #0000005C;
}
.slider_img{
	width: 100%;
margin-bottom: 20px;
}